body {
  margin: 0px;
}

.titulo {
  padding: 20px;
}

.container-fluid {
  background-color: #2f4f30;
  padding: 20px;
  color: white;
}

.carta {
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
}

#computadora-cartas,
#jugador-cartas {
  height: 240px;
}
